.box {
	width: 25px;
	height: 20px;
	padding: 5px;
	text-align: center;
	border: 1px solid;
}

#submit {
	padding: 5px;
	margin-top: 20px;
	margin-left: 5px;
}

h1 {
	font-size: 40px;
}

.row3,
.row6 {
	border-bottom: 3px solid;
}

.col3,
.col6 {
	border-right: 3px solid;
}

#solve {
	padding: 5px;
	margin-top: 20px;
	margin-left: 5px;
}

h2 {
	font-size: 15px;
}

#title {
	margin-bottom: 5px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}